/*
colors used::
primary color: 
    (black) #0c0c0f; 
    (cream) #fffce9
secondary color: 
    (orange) #bd5608
text color: white #ffffff
            black #000000
header option 1: font-family: 'Fira Sans', sans-serif;ExtraLight 200; ExtraLight 200 Italic; Light 300; Light 300 Italic; Regular 400; Regular 400 Italic; Medium 500; Medium 500 Italic; SemiBold 600; SemiBold 600 Italic; Bold 700; Bold 700 Italic; ExtraBold 800; ExtraBold 800 Italic
header option 2 (logo name): font-family: 'Montserrat', sans-serif;Light 300; Light 300 Italic; Regular 400; Regular 400 Italic; Medium 500; Medium 500 Italic; SemiBold 600; SemiBold 600 Italic; Bold 700; Bold 700 Italic
sub-header: font-family: 'Mulish', sans-serif;Light 300; Light 300 Italic; Regular 400; Regular 400 Italic; Medium 500; Medium 500 Italic; SemiBold 600; SemiBold 600 Italic; Bold 700; Bold 700 Italic
body: font-family: 'Roboto', sans-serif; Thin 100; Thin 100 Italic; Light 300; Regular 400; Regular 400 Italic; Medium 500; Bold 700; Black 900; Black 900 Italic
*/

* { /*this allows for width+padding+border to be included within the total width*/
    box-sizing: border-box;
}

/* css code done to text*/

body {
    background-color: #fffef5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: black
}

h1, h2, h3, h4, h5 {
    line-height: 1.4;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 600;
}
  
h2 {
    font-family: 'Mulish', sans-serif;
    font-size: 2.125em;
    font-weight: 600;
}
  
h3 {
    font-family: 'Mulish', sans-serif;
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-family: 'Mulish', sans-serif;
    font-size: 1.25em;
    font-weight: 400;
}

h5 {
    font-family: 'Mulish', sans-serif;
    font-size: 1em;
    font-weight: 400;
}


/*to make sure images scale correctly*/

img {
    width: 100%;
}

/*hyperlink stylings*/

a {
    color: #0c0c0f;
    text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
    color: #69089d;
}

a:hover, a:focus {
  color: #090561;
  text-decoration: underline;
}

a:active { /* selected link */
    color: #108312;
}

/* stylings for buttons*/

.button, .button:visited { /*always place at bottom of style sheet so not overwritten*/
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: transparent;
    border: 2.5px solid #0c0c0f;
    color: #0c0c0c; /* needed to override the default link color */
    font-weight: 700;
    padding: 10px;
    border-radius: 13px;
    /*border-bottom: 2px solid #B53013; /* width of the border, type, color */
    transition: 0.4s opacity;
}

/* .button:visited {
    background-color: #0c0c0f;
    color:#0c0c0f
} */
.button:hover, .button:focus {
    /*opacity: 0.7; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
    background-color: #0c0c0f;
    color: #ffffff;
    opacity: 0.9;
}

.button:active {
    /*opacity: 0.7; /* Reduces the opacity of the button to 80% */
    background-color: #0c0c0f;
    text-decoration: none;
    color: #ffffff;
}

.button.contact {
    background-color: #ffffff;
    color: #0c0c0f;
    text-transform: uppercase;
    /*border: 2px solid #ffffff;*/
}

.button.contact:hover, .button.contact:focus {
    background-color: transparent;
    border: 2.5px solid #ffffff;
    color: #ffffff;
}

.button.contact:active {
    background-color: transparent;
    border: 2.5px solid #ffffff;
    color: #ffffff;
}

/* layout syling*/
/* styling to header and navigation bar*/

header { /*added during course*/
    position: fixed;
    background-color: #0c0c0f;
    color: #ffffff;
    /* text-align: center; */
    padding: 10px 0;
    width: 100%;
}
header { /*css3studio.com shadow generator*/
    box-shadow: 0 7px 30px rgba(0, 0, 0, 0.4)  ; 
	-webkit-box-shadow: 0 7px 30px rgba(0, 0, 0, 0.4)  ; 
	-moz-box-shadow: 0 7px 30px rgba(0, 0, 0, 0.4)  ; 
}

.logo { /* since logo is a svg file, needed to enter code into svg not <a>*/
    max-width: 60px;
    max-height: 60px;
    padding: 10px 0 4px;
}
/* nav {
    display: inline-block;
    width: 100%; 
} */
nav > ul { /*affects only ul in navigation class, takes away bullet points and takes away padding so it is centered correctly*/
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav > ul > li > a { /* only selects the list items in the nav element*/
    padding: 0 15px;
    text-transform: uppercase;
    /* font-family: 'Fira Sans', sans-serif; (seems a bit too squished)*/
    font-weight: 700;
    color: #ffffff
}
nav > ul > li > a:visited {
    color: #ffffff

}

.navtoggle li:not(:last-child) { /*this targets navigation bar and hids all tabs but last li, allowing hamburger icon to be used by js*/
    display: none;
}

.navtoggle, .navtoggle.responsive {
    position: relative;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 20px;
    padding-right: 0;
    color:#ffffff;
}


.navtoggle.responsive nav {
    padding: 24px 0 0;
}

.navtoggle.responsive li {
    display: block;
    padding: 8px 0;
    /* border-top: 1px solid rgba (255, 127, 80, 0.5); */
    text-align: right;
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}

main {
    padding-top: 87px;
    padding-bottom: 50px;
}
.container {
    padding: 0 15px;
}
#hero {
    background-color:#fffef6;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-bottom: 60px;
}

#hero  p  a {
    color: #ffffff;
}
#hero  p  a:visited {
    color: #ffffff;
}
#hero  p  a:hover, a:focus {
    color: #ffa749;
}

#hero h1 { /*option 1 to help with added white space (marging and padding)*/
    text-align: left; /* centers text*/
    font-size: 2.6em;
    margin-bottom: 10px;
    /* margin: 0; /*this removed the extra space that the normalizer put into the styling*/
   /* padding: 0.67em 0; /*by moving this from the normalizer margin to padding, the added space is included into the container and not on the outside*/  
}

#hero h2 {
    text-align: left;
    margin-top: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
}
/* #hero { (option 2 to help with added white space from the normalizer)
    background-color: #ffe4c4;
    padding: 20px 0;
} */

#hero { /*option 3 to help with added white space from the normalizer, change from block to inline-block- use this option */
    background-color: #0c0c0f;
    padding: 60px 0;
    display: inline-block;
    width: 100%; /*in this option must add 100% width so that it expands when viewpoint enlarges)*/
}
#hero-trail-goods {
    text-align: center;
}
.row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { /*adds divide between work projects*/
    padding-bottom: 25px;
    border-bottom: 1px solid #4a4a4a;
}

/* trailgoods styling*/
#top {
    display: inline-block;
    text-align: left;
    
}

#top h1 {
    margin: 30px auto 15px auto;
}

#top h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.125em;
    font-weight: 500;
    margin: 15px auto;
    padding-bottom: 10px;
    border-bottom: 2.5px solid #4a4a4a;
}

#top h3 {
    font-size: 1.5em;
    margin: 15px auto 25px auto;
}

#trail-goods > #work > h2 {
    font-size: 2.125em;
    font-weight: 500;
    padding-bottom: 10px 0 15px 0;
    border-bottom: 2px solid #4a4a4a;
}
#trail-goods #work h3 {
    font-weight: 500;
    text-align: left;
    padding-bottom: 10px 0 15px 0;
    border-bottom: 1px solid #4a4a4a;
}

#trail-goods #work h4 {
    font-weight: 600;
    /* padding-bottom: 10px 0 15px 0;
    border-bottom: .7px solid #4a4a4a; */
}
#prototype {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: 50px auto;
}
#prototype > li {
    display: inline-block;
    max-width: 100%;
    width: 25%;
    padding-right: 8px;
    padding-left: 8px; 
    
}

#ios #android {
    display: inline-block;
    width: 50px;
    height: 50px;
}
/* float-text #ios #android {
    float: left;
} */
#end > h2 {
    font-family: 'Fira Sans', sans-serif;
    /* color:#073608; */
    border-bottom: none;
    text-align: center;
    font-weight: 700;
}
#illustration > picture {
    display:inline-block;
    text-align: center;
    max-width: 100%;
    width: 50px;
    height: 50px;
    margin: 50 auto;
}

.about  img {
    /* margin: 50px 0; */
    padding-top: 50px;
}
.center {
    text-align: center;
}
#about > .button {
    margin: 25px 0;
}

#skills {
    padding-top: 25px;
    border-top: 1px solid #4a4a4a
}


/*footer*/

/* #contact {
    padding-top: 235.19px;
} */
footer {
    background-color:#0c0c0f ;
    color: #ffffff;
    display: block;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}
.cell {
    color: #ffffff;
}

#social-media { /*affects only ul in navigation class, takes away bullet points and takes away padding so it is centered correctly*/
    list-style-type: none;
    margin: 0 auto;
    padding: 50px;
   text-align: center;
}
#social-media > li {
    display: inline-block;
    max-width: 100%;
    padding-right: 8px;
    padding-left: 8px; 
}

.social-media {
    display: inline-block;
    
    width: 50px;
    height: 50px;
}



/* float-text #linkedin, #behance, #github, #twitter {
    float: left;
} */

.copyright {
    text-align: center;
}

.cf-image {
    width: 100%;
    max-width: 100%;
    height: auto;
}



@keyframes color-change {
    0% {fill: #fddb68;}
    50% {fill: #efc848;}
    100% {fill: #fddb68;}
}

.ink-path, .ink-down-bag {
    animation: 4s color-change infinite alternate linear;

}

@keyframes brayer-move {
    from {transform: translate(0,466px);}
    to {transform: translate(30px,466px);}
}


.brayer {
    animation: 1s brayer-move infinite alternate linear;
}

/* @keyframes shadow-bounce-1 {
    from {transform: translate(250px,930px);}
    to {transform: translate(250px, 955px);}
} */

/* @keyframes phone-bounce-1 {
    from {transform: translate(178px, 98px);}
    to {transform: translate(178, 113px);}
} */

.phone1 {
    animation: 4s phone-bounce-1 infinite alternate ease-in-out;
}

@keyframes color-change-1 {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
}

.sun {
    animation: 4s color-change-1 infinite alternate linear;
}

@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px,48px);}
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

/* .mycontact {
    margin: 
} */

.container > .mycontact > h4{
    font-size: 18px;
    text-align: center;
    padding: 10px; 
    margin-top: 0;
}

.photo {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 45px;
    padding: 20px 10px 20px 20px;
    max-width: 600px;
    clear: both;
    display: flex;
}

.photo1 {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
   
   
    clear: both;
    display: flex;
}

.photo2 {
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
   max-width: 250px;
   
    clear: both;
    display: flex;
}

.photo3 {
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
   max-width: 660px;
   
    clear: both;
    display: flex;
}

#trail-goods {
    padding: 20px 20px 20px 20px;
}

.txt{
    padding-bottom: 50px;
}
/* contact form css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

    .formcarry-container {
      box-sizing: border-box;
      margin: 40px auto 0 auto;
      padding: 0;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.01em;

      min-width: 290px;
      

      /* NORMAL */
      --fc-border-color: #fec797;
      --fc-normal-text-color: #0c0c0f;
      --fc-normal-placeholder-color: #B3B8D0;

      /* PRIMARY COLOR | HSL FORMAT*/
      --fc-primary-color-hue: 250;
      --fc-error-color-hue: 356;
      --fc-primary-hsl: var(--fc-primary-color-hue), 0%, 0%;
      --fc-error-hsl: var(--fc-error-color-hue), 100%, 54%;

      /* HOVER */
      --fc-field-hover-bg-color: #F7F9FC;
      --fc-border-hover-color: #DDE0EE;
      --fc-field-hover-text-color: #B3B8D0;

      --fc-border-active-color: #1463FF;
    }

    .formcarry-container * {
      box-sizing: border-box;
    }

    .formcarry-container label {
      display: block;
      cursor: pointer;
    }

    .formcarry-container .formcarry-block:not(:first-child) {
      margin-top: 16px;
    }

    /*=============================================
    =            Fields           =
    =============================================*/
    
    .formcarry-container input,
    .formcarry-container textarea,
    .formcarry-container select {
      margin-top: 4px;
      width: 100% ;
      height: 42px;
      border: 1px solid var(--fc-border-color);
      box-shadow: 0 1px 2px var(--fc-border-color);
      color: var(--fc-normal-text-color);
      border-radius: 10px;
      padding: 8px 12px;
      
      font-family: 'Roboto', sans-serif;
      font-size:14px;
      transition: 125ms background, 125ms color, 125ms box-shadow;
    }

    .formcarry-container textarea{
      min-height: 188px;
      max-width: 100%;
      padding-top: 12px;
    }

    .formcarry-container input::placeholder,
    .formcarry-container textarea::placeholder,
    .formcarry-container select::placeholder {
      color: var(--fc-normal-placeholder-color);
    }

    .formcarry-container input:hover,
    .formcarry-container textarea:hover,
    .formcarry-container select:hover {
      border-color: var(--fc-border-hover-color);
      background-color: var(--fc-field-hover-bg-color);
    }

    .formcarry-container input:hover::placeholder,
    .formcarry-container textarea:hover::placeholder,
    .formcarry-container select:hover::placeholder {
      color: var(--fc-field-hover-text-color);
    }

    .formcarry-container input:focus,
    .formcarry-container textarea:focus,
    .formcarry-container select:focus {
      background-color: #fff;
      border: 2px solid hsl(var(--fc-primary-hsl));
      box-shadow: hsla(var(--fc-primary-hsl), 8%) 0px 0px 0px 3px;
      outline: none;
    }

    .formcarry-container input:focus,
    .formcarry-container select:focus {
      padding: 8px 11px;
    }

    .formcarry-container textarea:focus {
      padding: 11px;
    }

    .formcarry-container select {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9997 14.5001L8.46387 10.9642L9.64303 9.78589L11.9997 12.1434L14.3564 9.78589L15.5355 10.9642L11.9997 14.5001Z' fill='%236C6F93'/%3E%3C/svg%3E%0A");
      /* background-position: calc(100% - 20px) calc(1em + 4px), calc(100% - 15px) calc(1em + 4px); */
      background-size: 24px 24px;
      background-position: 98%;
      background-repeat: no-repeat;
      appearance: none;
      -webkit-appearance: none;
    }

    .formcarry-container button {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: -0.02em;
      height: 40px;
      line-height: 24px;
      width: 100%;
      border: 0;
      border-radius: 10px;
      box-sizing: border-box;
      background-color: hsla(var(--fc-primary-hsl));
      color: #fff;
      cursor: pointer;
      box-shadow: 0 0 0 0 transparent;
      
      transition: 125ms all;
    }
    
    .formcarry-container button:hover {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), hsla(var(--fc-primary-hsl));
    }
    
    .formcarry-container button:focus {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), hsla(var(--fc-primary-hsl));
      border-inline: 1px solid inline rgba(255, 255, 255, 0.6);
      box-shadow: 0px 0px 0px 3px rgba(var(--fc-primary-hsl), 12%);
    }

    .formcarry-container button:active {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), hsla(var(--fc-primary-hsl));
    }

    .formcarry-container button:disabled {
      background-color: hsla(var(--fc-primary-hsl), 40%);
      cursor: not-allowed;
    }

    .formcarry-container input:focus:required:invalid,
    .formcarry-container input:focus:invalid, 
    .formcarry-container select:focus:required:invalid,
    .formcarry-container select:focus:invalid
    {
      color: hsl(var(--fc-error-hsl)); 
      border-color: hsl(var(--fc-error-hsl));
      box-shadow: 0px 0px 0px 3px hsla(var(--fc-error-hsl), 12%);
    }

    /*=====  End of Fields  ======*/


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
      }
    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }
    nav > ul {
        margin: 1em 0;
    }
    main {
        padding-top: 100px;
    }
    body {
        font-size: 18px;
    }
    #hero > .container > h1  { /* tried to have it just be #hero but it wouldnt affect the h1 just the p*/
        text-align: left;
        margin-left: 120px;
        margin-right: 120px;
    }
    #hero > .container > h2  { /* tried to have it just be #hero but it wouldnt affect the h1 just the p*/
        text-align: left;
        margin-left: 120px;
        margin-right: 120px;
    }
    #hero > .container > p  { /* tried to have it just be #hero but it wouldnt affect the h1 just the p*/
        text-align: left;
        /* padding: 20px; */
        margin-left: 120px;
        margin-right: 120px;
    }
    #hero span { 
        display: block;
        text-align: center;
    }
    .col-md-6 {
        width: 50%;
    }
    [class*="col-"] {
        float: left;
        padding: 10px;
    }
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    #work > .container > h1, h3 {
        text-align: center;
    }
    #work > .container > h2 {
        text-align: center;
    }
    [class*="col-"] > h3 {
        margin: 0 auto 0 auto;
    }
    [class*="col-"] > h4 {
        margin: 0 auto 0 auto;
    }
    #skills > .row  {
        margin-top: 0;
    }
    #profile-pic > img {
        max-width: 500px;
        margin: auto;
    }
    /* img {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    } */
    #about > p {
        font-size: 18px;
    }
    nav > ul > li { /*turns all listed items in  the nav to inline-blocks so they can be next to each other*/
        display: inline-block;
    }
    .navtoggle li:not(:last-child){ /*this reverses the default code for the hamburger menu and shows tabs on larger screens*/
        display: inline-block;
    }
    .navtoggle li:last-child { /*hides last child = hamburger menu*/
        display: none;
    }
    .container > .mycontact > h4{
        font-size: 18px;
        /* text-align: center; */
    }
    [class*="col-"] > #end{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
        margin-bottom: 50px;
    }
}

/* ==============================
Medium devices (768px and larger)
================================= */
/*@media only screen and (min-width: 768px) {

}*/ 

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-5 {
        width: 41.66%;
        margin-top: 40px;
    }
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        float: left;
        padding: 0 20px 20px 0;
    }
    #about {
        padding-top: 50px;
    }
    #about > .button{
        margin-left: 130px;
    }
    #skills > h2 {
        margin-left: 100px;
        margin-bottom: 15px;
    }
    [class*="col-"] > h3{
        margin-left: 110px;
    
    }
    [class*="col-"] > ul{
        margin-left: 125px;
    }
    /* .social-media {
        display: flex;
        justify-content: center;
        
    } */
    nav > ul > li { /*turns all listed items in  the nav to inline-blocks so they can be next to each other*/
        display: inline-block;
    }
    .navtoggle li:not(:last-child){ /*this reverses the default code for the hamburger menu and shows tabs on larger screens*/
        display: inline-block;
    }
    .navtoggle li:last-child { /*hides last child = hamburger menu*/
        display: none;
    }

    .mycontact{
        padding: 20px;
    }

    .current{
        border-bottom: 2px solid #ffffff;
        background-color: #0c0c0f;
        border-top: 2px solid #ffffff;
        padding: 4px 20px;
    }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

}