/*
colors used::
primary color: 
    (black) #0c0c0f; 
    (cream) #fffce9
secondary color: 
    (orange) #bd5608
text color: #000000
header option 1: font-family: 'Fira Sans', sans-serif;ExtraLight 200; ExtraLight 200 Italic; Light 300; Light 300 Italic; Regular 400; Regular 400 Italic; Medium 500; Medium 500 Italic; SemiBold 600; SemiBold 600 Italic; Bold 700; Bold 700 Italic; ExtraBold 800; ExtraBold 800 Italic
header option 2 (logo name): font-family: 'Montserrat', sans-serif;Light 300; Light 300 Italic; Regular 400; Regular 400 Italic; Medium 500; Medium 500 Italic; SemiBold 600; SemiBold 600 Italic; Bold 700; Bold 700 Italic
sub-header: font-family: 'Mulish', sans-serif;Light 300; Light 300 Italic; Regular 400; Regular 400 Italic; Medium 500; Medium 500 Italic; SemiBold 600; SemiBold 600 Italic; Bold 700; Bold 700 Italic
body: font-family: 'Roboto', sans-serif; Thin 100; Thin 100 Italic; Light 300; Regular 400; Regular 400 Italic; Medium 500; Bold 700; Black 900; Black 900 Italic
*/

* { /*this allows for width+padding+border to be included within the total width*/
    box-sizing: border-box;
}

/* css code done to text*/

body {
    background-color: #fffef5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: black
}

h1, h2, h3, h4 {
    line-height: 1.4;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 600;
}
  
h2 {
    font-family: 'Mulish', sans-serif;
    font-size: 2.125em;
    font-weight: 600;
}
  
h3 {
    font-family: 'Mulish', sans-serif;
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-family: 'Mulish', sans-serif;
    font-size: 1.25em;
    font-weight: 400;
}

/*to make sure images scale correctly*/

img {
    width: 100%;
}

/*hyperlink stylings*/

a {
    color: #0c0c0f;
    text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
    color: #69089d;
}

a:hover, a:focus {
  color: #090561;
  text-decoration: underline;
}

a:active { /* selected link */
    color: #108312;
}

/* stylings for buttons*/

.button, .button:visited { /*always place at bottom of style sheet so not overwritten*/
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: transparent;
    border: 2.5px solid #0c0c0f;
    color: #0c0c0c; /* needed to override the default link color */
    font-weight: 700;
    padding: 10px;
    border-radius: 13px;
    /*border-bottom: 2px solid #B53013; /* width of the border, type, color */
    transition: 0.4s opacity;
}

/* .button:visited {
    background-color: #0c0c0f;
    color:#0c0c0f
} */
.button:hover, .button:focus {
    /*opacity: 0.7; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
    background-color: #0c0c0f;
    color: #ffffff;
    opacity: 0.9;
}

.button:active {
    /*opacity: 0.7; /* Reduces the opacity of the button to 80% */
    background-color: #0c0c0f;
    text-decoration: none;
    color: #ffffff;
}

.button.contact {
    background-color: #ffffff;
    color: #0c0c0f;
    text-transform: uppercase;
    /*border: 2px solid #ffffff;*/
}

.button.contact:hover, .button.contact:focus {
    background-color: transparent;
    border: 2.5px solid #ffffff;
    color: #ffffff;
}

.button.contact:active {
    background-color: transparent;
    border: 2.5px solid #ffffff;
    color: #ffffff;
}

/* layout syling*/
/* styling to header and navigation bar*/

header { /*added during course*/
    position: fixed;
    background-color: #0c0c0f;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
header { /*css3studio.com shadow generator*/
    box-shadow: 0 7px 30px rgba(0, 0, 0, 0.4)  ; 
	-webkit-box-shadow: 0 7px 30px rgba(0, 0, 0, 0.4)  ; 
	-moz-box-shadow: 0 7px 30px rgba(0, 0, 0, 0.4)  ; 
}

.logo { /* since logo is a svg file, needed to enter code into svg not <a>*/
    max-width: 60px;
    max-height: 60px;
}
nav {
    display: inline-block;
    width: 100%; 
}
nav > ul { /*affects only ul in navigation class, takes away bullet points and takes away padding so it is centered correctly*/
    list-style-type: none;
    padding: 0;
}
nav > ul > li { /*turns all listed items in  the nav to inline-blocks so they can be next to each other*/
    display: inline-block;
}
nav > ul > li > a { /* only selects the list items in the nav element*/
    padding: 0 15px;
    text-transform: uppercase;
    /* font-family: 'Fira Sans', sans-serif; (seems a bit too squished)*/
    font-weight: 700;
    color: #ffffff
}
nav > ul > li > a:visited {
    color: #ffffff

}

main {
    padding-top: 145px;
    padding-bottom: 50px;
}
.container {
    padding: 0 15px;
}
#hero {
    background-color:#0c0c0f;
    color: #ffffff;
}

#hero h1 { /*option 1 to help with added white space (marging and padding)*/
    text-align: left; /* centers text*/
    font-size: 2.3em;
    /* margin: 0; /*this removed the extra space that the normalizer put into the styling*/
   /* padding: 0.67em 0; /*by moving this from the normalizer margin to padding, the added space is included into the container and not on the outside*/  
}

/* #hero { (option 2 to help with added white space from the normalizer)
    background-color: #ffe4c4;
    padding: 20px 0;
} */

#hero { /*option 3 to help with added white space from the normalizer, change from block to inline-block- use this option */
    background-color: #0c0c0f;
    padding: 20px 0;
    display: inline-block;
    width: 100%; /*in this option must add 100% width so that it expands when viewpoint enlarges)*/
}
#hero-trail-goods {
    text-align: center;
}
.row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { /*adds divide between work projects*/
    padding-bottom: 25px;
    border-bottom: 1px solid #4a4a4a;
}

/* trailgoods styling*/
#top {
    display: inline-block;
    text-align: left;
    
}

#top h1 {
    margin: 30px auto 15px auto;
}

#top h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.125em;
    font-weight: 500;
    margin: 15px auto;
    padding-bottom: 10px;
    border-bottom: 2.5px solid #4a4a4a;
}

#top h3 {
    font-size: 1.5em;
    margin: 15px auto 25px auto;
}

#trail-goods > #work > h2 {
    font-size: 2.125em;
    font-weight: 500;
    padding-bottom: 10px 0 15px 0;
    border-bottom: 2px solid #4a4a4a;
}
#trail-goods #work h3 {
    font-weight: 500;
    text-align: left;
    padding-bottom: 10px 0 15px 0;
    border-bottom: 1px solid #4a4a4a;
}

#trail-goods #work h4 {
    font-weight: 600;
    /* padding-bottom: 10px 0 15px 0;
    border-bottom: .7px solid #4a4a4a; */
}
#prototype {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: 50px auto;
}
#prototype > li {
    display: inline-block;
    max-width: 100%;
    width: 30%;
    padding-right: 8px;
    padding-left: 8px; 
    
}

#ios #android {
    display: inline-block;
    width: 50px;
    height: 50px;
}
/* float-text #ios #android {
    float: left;
} */
#end > h2 {
    font-family: 'Fira Sans', sans-serif;
    /* color:#073608; */
    border-bottom: none;
    text-align: center;
    font-weight: 700;
}
#illustration > picture {
    display:inline-block;
    text-align: center;
    max-width: 100%;
    width: 50px;
    height: 50px;
    margin: 50 auto;
}

.about  img {
    /* margin: 50px 0; */
    padding-top: 50px;
}
.center {
    text-align: center;
}
#about > .button {
    margin: 25px 0;
}

#skills {
    padding-top: 25px;
    border-top: 1px solid #4a4a4a
}


/*footer*/

/* #contact {
    padding-top: 235.19px;
} */
footer {
    background-color:#0c0c0f ;
    color: #ffffff;
    display: block;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}
.cell {
    color: #ffffff;
}

#social-media { /*affects only ul in navigation class, takes away bullet points and takes away padding so it is centered correctly*/
    list-style-type: none;
    margin: 0 auto;
    padding: 50px;
   text-align: center;
}
#social-media > li {
    display: inline-block;
    max-width: 100%;
    padding-right: 8px;
    padding-left: 8px; 
}

.social-media {
    display: inline-block;
    
    width: 50px;
    height: 50px;
}



/* float-text #linkedin, #behance, #github, #twitter {
    float: left;
} */

.copyright {
    text-align: center;
}

.cf-image {
    width: 100%;
    max-width: 100%;
    height: auto;
}



@keyframes color-change {
    0% {fill: #fddb68;}
    50% {fill: #efc848;}
    100% {fill: #fddb68;}
}

.ink-path, .ink-down-bag {
    animation: 4s color-change infinite alternate linear;

}

@keyframes brayer-move {
    from {transform: translate(0,466px);}
    to {transform: translate(30px,466px);}
}


.brayer {
    animation: 1s brayer-move infinite alternate linear;
}

/* @keyframes shadow-bounce-1 {
    from {transform: translate(250px,930px);}
    to {transform: translate(250px, 955px);}
} */

/* @keyframes phone-bounce-1 {
    from {transform: translate(178px, 98px);}
    to {transform: translate(178, 113px);}
} */

.phone1 {
    animation: 4s phone-bounce-1 infinite alternate ease-in-out;
}

@keyframes color-change-1 {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
}

.sun {
    animation: 4s color-change-1 infinite alternate linear;
}

@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px,48px);}
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
      }
    nav {
        width: auto;
        float: right;
        margin-top: 4px;
      }
    main {
        padding-top: 100px;
    }
    body {
        font-size: 18px;
    }
    #hero > .container > h1  { /* tried to have it just be #hero but it wouldnt affect the h1 just the p*/
        text-align: center;
    }
    #hero > .container > p  { /* tried to have it just be #hero but it wouldnt affect the h1 just the p*/
        text-align: center;
    }
    #hero span { 
        display: block;
        text-align: center;
    }
    .col-md-6 {
        width: 50%;
    }
    [class*="col-"] {
        float: left;
        padding: 10px;
    }
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    #work > .container > h2 {
        text-align: center;
    }
    [class*="col-"] > h3 {
        margin: 0 auto 0 auto;
    }
    #skills > .row  {
        margin-top: 0;
    }
    #profile-pic > img {
        max-width: 500px;
        margin: auto;
    }
    /* img {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    } */
    #about > p {
        font-size: 18px;
    }
    
}

/* ==============================
Medium devices (768px and larger)
================================= */
/*@media only screen and (min-width: 768px) {

}*/ 

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        float: left;
        padding: 0 20px 20px 0;
    }
    #about {
        padding-top: 50px;
    }
    #about > .button{
        margin-left: 130px;
    }
    #skills > h2 {
        margin-left: 100px;
        margin-bottom: 15px;
    }
    [class*="col-"] > h3{
        margin-left: 110px;
    
    }
    [class*="col-"] > ul{
        margin-left: 125px;
    }
    /* .social-media {
        display: flex;
        justify-content: center;
        
    } */
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

}